<h3>Listado de <%= Provider.model_name.human.pluralize(:es) %></h3>
<% if @providers.size > 0 %>
	<table class='table table-hover table-condensed table-bordered'>
		<thead>
			<tr>
				<th><%= Provider.human_attribute_name(:label)%></th>
				<th><%= Provider.human_attribute_name(:phone)%></th>
				<th><%= Provider.human_attribute_name(:email)%></th>
				<th><%= Provider.human_attribute_name(:website)%></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @providers.each do |provider| %>
				<tr>
					<td><%= link_to provider.label, provider_path(provider) %></td>
					<td><%= provider.phone %></td>
					<td><%= mail_to provider.email %></td>
					<td><%= link_to provider.website %></td>
					<td><%= render 'shared/btn_group_action', object: provider %> </td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<%= render 'shared/no_records_found', object_class: Invoice %>
<% end %>

<%= render 'shared/paginate', object: @providers %>

<%= render 'shared/form_new', object: Provider %>









