<div class='login-box text-center'>
	<%= form_tag sessions_path do %>
		<h3>Inicio de Sesión</h3>
		<div class='row'>
			<div class='span12'>
				<%= label_tag :username, 'Usuario' %>
				<%= text_field_tag :username, params[:username] %>
			</div>
		</div>
		<div class='row'>
			<div class='span12'>
				<%= label_tag :password, 'Contraseña' %>
				<%= password_field_tag :password %>
			</div>
		</div>
		<div class='row'>
			<div class="span12 text-center">
				<%= submit_tag 'Ingresar', class: 'btn' %>
			</div>
		</div>
	<% end %>
</div>