<%= form_for(@invoice) do |f| %>
	<%= render 'shared/error_messages', object: @invoice %>
	<div class='row'>
		<div class='span3'>
			<%= f.label :provider_id %>
			<%= f.select :provider_id, options_for_select(Provider.all.map {|p| [p.label, p.id]}, :provider_id), class: 'span3' %>
		</div>
		<div class='span3'>
			<%= f.label :number %>
			<%= f.text_field :number, class: 'span3'%>
		</div>
		<div class='span3'>
			<%= f.label :date %>
			<%= f.text_field :date, class: 'datepicker span3'%>
		</div>
	</div>

	<fieldset id='fieldset_invoice_items'>
		<table class='table table-condensed' id='invoice_items_container'>
			<tr>
				<th><%= :item_id %></th>
				<th><%= :quantity %></th>
				<th><%= :item_price %></th>
				<th><%= :batch_number %></th>
				<th><%= :expiration_date %></th>
				<th></th>
			</tr>
			<%= f.fields_for :invoice_items do |builder| %>
				<tr><%= render 'invoice_items/fields', :f => builder%></tr>
			<% end %>
			<tr>
				<%= link_to_add_fields :add_invoice_items, f, :invoice_items %>
			</tr>
		</table>
	</fieldset>
	<div class='row'>
		<div class='span4'>
			<%= f.label :tax %>
			<%= f.text_field :tax, class: 'span4' %>
		</div>
		<div class='span4'>
			<%= f.label :total %>
			<%= f.text_field :total, class: 'span4' %>
		</div>
	</div>


	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
