<%= form_for(@invoice) do |f| %>
	<%= render 'shared/error_messages', object: @invoice %>
	<div class='row'>
		<div class='span3'>
			<%= f.label :number %>
			<%= f.text_field :number, class: 'span3'%>
			<%= f.label :provider_id %>
			<%= f.select :provider_id, options_for_select(Provider.all.map {|p| [p.label, p.id]}, @invoice.provider_id), class: 'span3' %>
		</div>

		<div class='span3'>
		</div>
		<div class='span3'>
			<%= f.label :date %>
			<%= f.text_field :date, class: 'datepicker span3'%>
		</div>
	</div>

	<table class='table' id='invoice_items_container'>
		<caption>Detalle de factura</caption>
		<tr>
			<th><%= InvoiceItem.human_attribute_name(:item_id) %></th>
			<th><%= InvoiceItem.human_attribute_name(:quantity) %></th>
			<th><%= InvoiceItem.human_attribute_name(:item_price) %></th>
			<th><%= InvoiceItem.human_attribute_name(:batch_number) %></th>
			<th><%= InvoiceItem.human_attribute_name(:expiration_date) %></th>
			<th></th>
		</tr>
		<%= f.fields_for :invoice_items do |builder| %>
			<%= render 'invoice_items/fields', :f => builder%>
		<% end %>
	</table>
	<div class='row'>
		<div class='text-center'>
			<%= link_to_add_fields "<i class='icon-plus icon-white'></i> Agregar #{InvoiceItem.model_name.human}".html_safe, f, :invoice_items, 'btn btn-primary' %>
		</div>
	</div>

	<div class='row'>
		<div class='span5'>
			<%= f.label :tax %>
			<%= f.text_field :tax, class: 'span4' %>
		</div>
		<div class='span5 pull-right'>
			<%= f.label :total %>
			<%= f.text_field :total, class: 'span4' %>
		</div>
	</div>

	<div class="row actions pull-right">
		<%= f.submit %>
	</div>
<% end %>
