<%= render 'shared/infobox', message: "Las #{Invoice.model_name.human.pluralize(:es)} permiten ingresar #{Item.model_name.human.pluralize(:es)} al inventario, registrar el #{Provider.model_name.human}, entre otros datos. "%>
<% if @invoices.size > 0 %>
	<table class='table table-hover table-condensed table-bordered'>
		<thead>
			<tr>
				<th>Proveedor</th>
				<th>Número</th>
				<th>Fecha</th>
				<th>Modificada</th>
				<th colspan=1></th>
			</tr>
		</thead>
		<tbody>
				<% @invoices.each do |invoice| %>
					<tr>
						<td><%= invoice.provider.label %></td>
						<td><%= invoice.number %></td>
						<td><%= invoice.date.to_formatted_s(:short_date) %></td>
						<td><%= invoice.updated_at.to_formatted_s(:short_date) %></td>

						<td><%= render 'shared/btn_group_action', object: invoice %> </td>
					</tr>
				<% end %>
		</tbody>
	</table>
<% else %>
	<%= render 'shared/no_records_found', object_class: Invoice %>
<% end %>
<br>
<%= link_to "#{t('text.new')} #{Invoice.model_name.human}", new_invoice_path, class: 'btn' %>
