
<div class='row'>
	<div class='span5'>
		<span><b><%= Provider.model_name.human%>: </b><%= @invoice.provider.label %></span></br>
		<span><b><%= Invoice.human_attribute_name(:number) %>: </b><%= @invoice.number %></span>
	</div>
	<div class='span6'>
		<span class='pull-right text-right'><b>Fecha:</b> <%= @invoice.date.to_formatted_s(:long) %></span>
	</div>
</div>

<h4 class='text-center'><%=InvoiceItem.model_name.human.pluralize(:es)%> en <%= Invoice.model_name.human%></h4>

<table class='table table-condensed table-bordered' id='invoice_items_container'>
	<thead>
		<tr>
			<th><%= InvoiceItem.human_attribute_name(:item_id) %></th>
			<th><%= InvoiceItem.human_attribute_name(:quantity) %></th>
			<th><%= InvoiceItem.human_attribute_name(:item_price) %></th>
			<th><%= InvoiceItem.human_attribute_name(:batch_number) %></th>
			<th><%= InvoiceItem.human_attribute_name(:expiration_date) %></th>
		</tr>
	</thead>
	<tbody>
		<% @invoice.invoice_items.each do |it| %>
			<%= render 'invoice_items/show', :ii => it%>
		<% end %>
	</tbody>
</table>

<div class='row '>
	<div class='span11 text-right'>
		<p><b>Subtotal:</b> Bs. <span id='subtotal'><%=@subtotal%></span></p>
		<p><b>Impuesto (12%):</b> Bs. <span id='tax'><%=@tax_total%></span></p>
		<p><b>Total:</b> Bs. <span id='total'><%=@total%></span></p>
	</div>
</div>

<%= link_to t('text.edit'), edit_invoice_path(@invoice) %> |
<%= link_to t('text.back'), invoices_path %>
