<div class='row'>
	<div class='span5'>
		<h4><%= Item.model_name.human.pluralize(:es) %> mas utilizados</h4>
		<ul>
			<% Item.all.limit(5).each do |item|%>
				<li><%= "#{item.label} = #{item.stock}"%></li>
			<% end %>
		</ul>
	</div>
	<div class='span5'>
		<h4><%= Item.model_name.human.pluralize(:es) %> próximos a vencerse</h4>
		<ul>
			<% Item.all.limit(5).each do |item|%>
				<li><%= "#{item.label} = #{item.stock}"%></li>
			<% end %>
		</ul>
	</div>
	<div class='span5'>
		<h4><%= Item.model_name.human.pluralize(:es) %> bajos en existencia</h4>
		<ul>
			<% Item.all.limit(5).each do |item|%>
				<li><%= "#{item.label} = #{item.stock}"%></li>
			<% end %>
		</ul>
	</div>
</div>