<%= render 'shared/back_btn'%>
<% if @invoice_items && @invoice_items.size > 0 %>
	<h3><%= InvoiceItem.model_name.human.pluralize(:es) %> comprados a <%= @invoice_items.first.invoice.provider.label%> </h3>
	<table class='table table-condensed table-hover table-bordered'>
		<thead>
			<tr>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Comprado el</th>
			</tr>
		</thead>
		<tbody>
			<% @invoice_items.each do |invoice_item| %>
				<tr>
					<td><%= link_to invoice_item.item.label, home_report2_path(item_id: invoice_item.item_id) %></td>
					<td><%= invoice_item.item_price %></td>
					<td><%= invoice_item.invoice.updated_at.to_formatted_s(:short) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<%= render 'shared/no_records_found', object_class: Item %>
<% end %>

