<tr class='invoice_item'>
	<%= f.hidden_field :id %>
	<%= f.hidden_field :trace_user, value: current_user.id %>
	<td><%= f.select :item_id, grouped_options_for_select(get_grouped_options(Item.all), f.object.item_id), {prompt: true}, class: 'span4' %></td>
	<td><%= f.text_field :quantity,  class: 'quantity span1 number' %></td>
	<td><%= f.text_field :item_price,  class: 'item_price span2 number' %></td>
	<td><%= f.text_field :batch_number, class: 'span2 number' %></td>
	<td>
		<div class="input-append date from_now_cal">
				<%= f.text_field :expiration_date, class: 'from_now_cal span2 date'%>
				<span class="add-on"><i class="icon-th"></i></span>
		</div>
	</td>
	<td><%= link_to_remove_fields '<i class="icon-remove icon-white"></i>'.html_safe, f, 'btn btn-danger' %></td>
</tr>