<tr>
	<%= f.hidden_field :id %>
	<td><%= f.select :item_id, grouped_options_for_select(get_grouped_options(Item.ordered), f.object.item_id), {prompt: true}, class: 'span4' %></td>
	<td><%= f.text_field :quantity, class: 'span1' %></td>
	<td><%= f.text_field :item_price, class: 'span2' %></td>
	<td><%= f.text_field :batch_number, class: 'span2' %></td>
	<td><%= f.text_field :expiration_date, class: 'span2 datepicker' %></td>
</tr>