<h3>Existencia de <%= Item.model_name.human.pluralize(:es) %></h3>
<%= render 'shared/infobox', message: "Número de unidades de cada #{Item.model_name.human} existentes en inventario" %>
<% if @items.size > 0 %>
	<table class='table table-condensed table-hover table-bordered'>
		<thead>
			<tr>
				<th>Descripción</th>
				<th>Existencia</th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |item| %>
				<tr class=''>
					<td><%= item.label %></td>
					<td><%= item.stock %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= render 'shared/paginate', object: @items %>
<% else %>
	<%= render 'shared/no_records_found', object_class: Item %>
<% end %>
<br>
<%= render 'legend' %>