<h3>Listado de <%= Item.model_name.human.pluralize(:es) %></h3>
<% if @items.size > 0 %>
	<table class='table table-condensed table-hover table-bordered'>
		<thead>
			<tr>
				<th>Descripción</th>
				<th>Existencia mínima</th>
				<th>Existencia por lotes</th>
				<th>Total</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |item| %>
				<tr class=''>
					<td><%= link_to item.label, item_path(item) %></td>
					<td><%= units_to_words(item.minimum_stock) %></td>
					<td class='item-stock <%= stock_level_class(item) %>'>
						<div>
							<ul>
								<% unless item.stock == 0 %>
									<% item.batches.each do |batch|%>
										<li>Lote <%= batch.batch_number%>: <%= units_to_words(batch.stock) %><%= ", expira: #{batch.expiration_date.to_formatted_s(:long)}" unless batch.expiration_date.nil? %>
										</li>
									<% end %>
								<% else %>
									<li>Sin existencia</li>
								<% end %>
							</ul>
						</div>
					</td>
					<td>
						<%= units_to_words(item.stock) %>
					</td>
					<td><%= render 'shared/btn_group_action', object: item %> </td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= render 'shared/paginate', object: @items %>
<% else %>
	<%= render 'shared/no_records_found', object_class: Item %>
<% end %>
<br>
<%= render 'shared/form_new', object: Item %>
