<h3>Listado de <%= Item.model_name.human.pluralize(:es) %></h3>
<% if @items.size > 0 %>
	<table class='table table-condensed table-hover table-bordered'>
		<thead>
			<tr>
				<th>Descripción</th>
				<th>Existencia mínima</th>
				<th>Existencia</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |item| %>
				<tr class='<%= stock_level_class(item) %>'>
					<td><%= link_to item.label, item_path(item) %></td>
					<td><%= item.minimum_stock %></td>
					<td><%= item.stock %></td>
					<td><%= render 'shared/btn_group_action', object: item %> </td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= render 'shared/paginate', object: @items %>
<% else %>
	<%= render 'shared/no_records_found', object_class: Item %>
<% end %>
<br>
<%= render 'shared/form_new', object: Item %>
<%= render 'legend' %>