<div class='row'>
	<div class='span4'>
		<b><%= Item.human_attribute_name(:label)%>: </b>
		<%= @item.label %>
	</div>
	<div class='span4'>
		<b><%= Item.human_attribute_name(:stock)%>: </b>
		<%= @item.stock %>
	</div>
	<div class='span4'>
		<b><%= Item.human_attribute_name(:minimum_stock)%>: </b>
		<%= @item.minimum_stock %>
	</div>
	<div class='span4'>
		<b><%= Item.human_attribute_name(:minimum_stock)%>: </b>
		<%= @item.active == 1 ? 'Sí' : 'No' %>
	</div>
</div>
<br>
<%= render 'shared/form_edit_show', object: @item %>