<h3><%= Item.model_name.human.pluralize(:es) %> próximos a agotarse</h3>
<%= render 'shared/infobox', message: "#{Item.model_name.human.pluralize(:es)} cuyo stock se encuentra por debajo del mínimo deseado" %>
<% if @items.size > 0 %>
	<table class='table table-condensed table-hover table-bordered'>
		<thead>
			<tr>
				<th>Descripción</th>
				<th>Existencia mínima</th>
				<th>Existencia</th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |item| %>
				<tr class='<%= stock_level_class(item) %>'>
					<td><%= item.label %></td>
					<td><%= item.minimum_stock %></td>
					<td><%= item.stock %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= render 'shared/paginate', object: @items %>
<% else %>
	<%= render 'shared/no_records_found', object_class: Item %>
<% end %>
<br>
<%= render 'legend' %>