<h3><%= t('text.update')%> Inventario</h3>
<% if @batches.size > 0 %>
	<%= form_for :item, url: {action: 'update_stock'} do %>
		<table class='table table-hover table-bordered table-condensed'>
			<thead>
				<tr>
					<th>Material</th>
					<th>En existencia</th>
					<th>Nueva cantidad</th>
				</tr>
			</thead>
			<tbody>
				<% @batches.each do |batch| %>
					<%= fields_for "item_ids[]", batch do |item_fields| %>
						<tr>
							<%= item_fields.hidden_field :comment, value: 'Actualización de Inventario' %>
							<td><%= batch.label %></td>
							<td><%= batch.formatted_stock %></td>
							<td><%= item_fields.text_field :new_quantity, value: batch.stock, class: 'span1 number' %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
		<%= render 'shared/paginate', object: @batches %>
		<%= submit_tag "#{t('text.update')} Inventario" %>
	<% end %>
<% else %>
	<%= render 'shared/no_records_found', object_class: Item %>
<% end %>