<div class="row filter-box">
	<%= form_for traces_path, method: :get do %>
		<div class="span3 input-append date">
			<%= label_tag 'Fecha de inicio' %>
			<%= text_field_tag :start_date,'', class: 'open_cal span2 date'%>
			<span class="add-on"><i class="icon-th"></i></span>
		</div>
		<div class="span3 input-append date">
			<%= label_tag 'Fecha Fin' %>
			<%= text_field_tag :end_date,'', class: 'open_cal span2 date'%>
			<span class="add-on"><i class="icon-th"></i></span>
		</div>
		<div class='span3'>
			<%= label_tag 'Usuario' %>
			<%= select_tag :user_id, options_for_select(User.all.map {|u| [u.name, u.id]}, params[:user_id]), prompt: "- Seleccione -", class: 'span2' %>
		</div>
		<div class='span2'>
			<%= label_tag 'Material' %>
			<%= select_tag :item_id, grouped_options_for_select(get_grouped_options(Item.all), params[:item_id]), prompt: "- Seleccione -", class: 'span2' %>
		</div>
		<div class='span2'>
			<%= submit_tag 'Buscar' %>
		</div>
	<% end %>
</div>