<h3>Registro de Movimientos</h3>

<%= render 'filter' %>

<% if @traces.size > 0 %>
	<table class='table table-condensed table-hover table-bordered'>
		<thead>
			<tr>
				<th>Material</th>
				<th>Cant.</th>
				<th>Usuario</th>
				<th>Descripción</th>
				<th>Fecha</th>
			</tr>
		</thead>
		<tbody>
			<% @traces.each do |trace| %>
			<tr class="<%= trace.type == '+' ? 'success' : 'error' %>">
				<% lbl = (trace.batch.nil? || trace.batch.item.nil?) ? 'Material eliminado' : trace.batch.item.label %>
				<td><%= lbl %> (Lote: <%= trace.batch.batch_number.blank? ? 'sin lote' : trace.batch.batch_number %>)</td>
				<td><%= trace.value %></td>
				<td><%= trace.user.nil? ? '' : trace.user.name %></td>
				<td><%= trace.comment %></td>
				<td><%= l(trace.created_at) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div class="text-center">
		<%= will_paginate %>
	</div>
<% else %>
	<%= render 'shared/no_records_found', object_class: Trace %>
<% end %>
