<div class='header row'>
	<div class='span3'>
		<%= link_to home_index_path do %>
			<%= image_tag 'logodentoa1.png'%>
		<% end %>
	</div>
	<div class='offset4'>
		<h6 class="text-right">
			<% if signed_in? %>
				<%= current_user.name %> (<%= link_to 'Cerrar Sesión', sign_out_path %>)
			<% else %>
				<%= link_to 'Iniciar Sesión', sign_in_path %>
			<% end %>
		</h6>
	</div>
</div>