<div class='header row'>
	<div class='span3'>
		<%= link_to home_index_path do %>
			<%= image_tag 'logodentoa1.png'%>
		<% end %>
	</div>
	<div class='offset4'>
		<% if signed_in? %>
			<h6 class="text-right"><%= current_user.name %> (<%= link_to 'Cerrar Sesión', sign_out_path %>)</h6>
		<% else %>
			<h6 class="text-right"><%= link_to 'Iniciar Sesión', sign_in_path %></h6>
		<% end %>
	</div>
</div>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li class="<%= current_page?(invoices_path) ? 'active' : '' %>"><%= link_to 'Facturas', invoices_path %></li>
			<li class="<%= current_page?(items_path) ? 'active' : '' %>"><%= link_to 'Materiales', items_path %></li>
			<li class="<%= current_page?(providers_path) ? 'active' : '' %>"><%= link_to 'Proveedores', providers_path %></li>
			<li class="<%= current_page?(items_deliver_path) ? 'active' : '' %>"><%= link_to 'Entrega de Materiales', items_deliver_path %></li>
			<li class="<%= current_page?(traces_path) ? 'active' : '' %>"><%= link_to 'Registro de movimientos', traces_path %></li>
		</ul>
	</div>
</div>