<% if signed_in? %>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="<%= current_page?(home_index_path) ? 'active' : '' %>"><%= link_to 'Inicio', home_index_path %></li>
				<li class="<%= current_page?(items_deliver_path) ? 'active' : '' %>"><%= link_to 'Entrega de Materiales', items_deliver_path %></li>
				<li class="<%= current_page?(invoices_path) ? 'active' : '' %>"><%= link_to 'Facturas', invoices_path %>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Reportes <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "#{Item.model_name.human.pluralize(:es)} en existencia", items_current_stock_path %></li>
						<li><%= link_to "#{Item.model_name.human.pluralize(:es)} próximos a agotarse", items_under_minimum_stock_path %></li>
						<li><%= link_to "#{Item.model_name.human.pluralize(:es)} próximos a vencerse", items_expiring_soon_path %></li>
						<li><%= link_to "#{Item.model_name.human.pluralize(:es)} comprados", items_by_item_path %></li>
						<li><%= link_to "#{Item.model_name.human.pluralize(:es)} por proveedor", items_by_provider_path %></li>
						<% if current_role.admin? %>
							<li><%= link_to 'Registro de movimientos', traces_path %></li>
						<% end %>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Mantenimiento <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to 'Actualización de Inventario', items_update_inventory_path %></li>
						<li><%= link_to 'Materiales', items_path %></li>
						<li><%= link_to 'Proveedores', providers_path %></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
<% end %>