<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title %></title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body class='container'>
		<% if Rails.env == 'development' %>
			<% deadline = Date.new(2013,11,30)%>
			<h4 style="color: white; text-align: center">Entrega el: <%= "#{deadline} (#{(deadline - Date.today).to_i} días)" %></h4>
		<% end %>
		<div class='content'>
			<%= render 'layouts/header'%>
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer'%>
		</div>
		<% if Rails.env == 'development' %>
			<h5 style="color: white; text-align: center">First do it. Then do it right. Then do it better.</h5>

			<div class='well'>
				<h3>To - Do</h3>
				<ol>
					<li>Paginación</li>
					<li>Pagina de actualizacion de inventario (actualizacion con textfield)</li>
					<li>Cerrar sesiones por tiempo</li>
					<li>Links de paginas a reportes</li>
					<li>L&F CRUD proveedor
					<ul>
						<li>show</li>
						<li>edit</li>
						<li>create</li>
						<li>diccionario</li>
					</ul>
					</li>
					<li>Reportes
						<ul>
							<li>Materiales utilizados en el mes</li>
							<li>Productos por acabarse</li>
							<li>Productos por vencerse</li>
						</ul>
					</li>
				</ol>
			</div>
			<%= debug(session.to_hash) %>
			<%= debug(params) %>
		<% end %>
	</body>
</html>
