<!DOCTYPE html>
<html>
	<head>
		<title>Dento</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body class='container'>
		<% if Rails.env == 'development' %>
			<% deadline = Date.new(2013,10,28)%>
			<h4 style="color: white; text-align: center">Entrega el: <%= "#{deadline} (#{(deadline - Date.today).to_i} días)" %></h4>
		<% end %>
		<div class='content'>
			<%= render 'layouts/header'%>
			<% flash.each do |key, value| %>
			  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer'%>
		</div>
		<% if Rails.env == 'development' %>
			<%= debug(session.to_hash) %>
			<%= debug(params) %>
		<% end %>
	</body>
</html>
