<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title %></title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body class='container'>
		<%= render 'layouts/navbar'%>
		<div class='content'>
			<%= render 'layouts/header'%>
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer'%>
		</div>

		<div style="margin-top: 20px">
			<% if Rails.env == 'development' %>
				<%= debug(session.to_hash) %>
				<%= debug(params) %>
			<% end %>
		</div>

	</body>
</html>
